<nav class="navbar navbar-expand-sm navbar-dark">

    <div class="container-fluid">

        <!-- This is the image and text scalloway -->
        <a class="navbar-brand" href="/">
            TEMP
        </a>

        <!-- This is the hamburger button that appears-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">

            <ul class="navbar-nav">

                <!-- this is each item in nav bar-->
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chat">Chat</a>
                </li>

            </ul>
        </div>
    </div>
</nav>