<!DOCTYPE html>
<html>

<!-- Get Head from partial file -->
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
            <div id="error_404_div">
                <h1 class="raise_up">Error <span><b>404</b></span>, Page does not exist</h1>

                </h3>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>