<!DOCTYPE html>
<html>

<!-- Get Head from partial file -->
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
            <div class="main_welcome_div">

                <h1 class="raise_up">Error <span id="error_span"><b>404</b></span>, Page does not exist</h1>
                <h3>Click <a href="/">Here</a> to go back to main page</h3>

            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>