<!DOCTYPE html>
<html>

<!-- Get Head from partial file -->
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
            <h1>ERROR 404 PAGE DOESN'T EXSIST</h1>
            <%- include("./partials/footer.ejs") %>
    </body>

</html>