<!DOCTYPE html>
<html>

<!-- Get Head from partial file -->
<%- include("./partials/head.ejs") %>

    <body>

        <%- include("./partials/nav.ejs") %>
            <div class="container mt-3">
                <div class="row justify-content-center " id="about_me_all_content_div">

                    <div class="container col-lg-6">

                        <div id="about_me_info_div">
                            <div>
                                <img src="IMGS/blank_image_pic.png" class="img-fluid float-start" id="profile_image">
                            </div>


                            <div>
                                <p>Name : Jacob</p>
                                <p>Profile: Student</p>
                                <p>Email: sandljansdkjn@asdasd.com</p>
                                <p>Phone: +44 7XXX XXX XXX</p>
                            </div>
                        </div>

                        <div id="skills_div">
                            <h2>Skills</h2>

                            <h5>HTML 5: 75%</h5>
                            <div class="progress" role="progressbar" aria-valuenow="75" aria-valuemin="75"
                                aria-valuemax="100">
                                <div class="progress-bar" style="width: 75%"></div>
                            </div>

                            <h5>CSS: 75%</h5>
                            <div class="progress" role="progressbar" aria-valuenow="75" aria-valuemin="75"
                                aria-valuemax="100">
                                <div class="progress-bar" style="width: 75%"></div>
                            </div>

                            <h5>JavaScript: 60%</h5>
                            <div class="progress" role="progressbar" aria-valuenow="60" aria-valuemin="60"
                                aria-valuemax="100">
                                <div class="progress-bar" style="width: 60%"></div>
                            </div>

                            <h5>Node.js: 50%</h5>
                            <div class="progress" role="progressbar" aria-valuenow="50" aria-valuemin="50"
                                aria-valuemax="100">
                                <div class="progress-bar" style="width: 50%"></div>
                            </div>

                            <h5>Python: 85%</h5>
                            <div class="progress" role="progressbar" aria-valuenow="85" aria-valuemin="85"
                                aria-valuemax="100">
                                <div class="progress-bar" style="width: 85%"></div>
                            </div>



                        </div>

                    </div>

                    <div class="container col-lg-6 " id="about_me_text_div">
                        <h1 class="p-5"><span>About me</span></h1>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo omnis repudiandae minus
                            autem
                            rerum placeat commodi magnam at, perspiciatis amet maiores hic! Consequuntur veniam, quae
                            obcaecati reprehenderit quod adipisci expedita.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo omnis repudiandae minus
                            autem
                            rerum placeat commodi magnam at, perspiciatis amet maiores hic! Consequuntur veniam, quae
                            obcaecati reprehenderit quod adipisci expedita.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo omnis repudiandae minus
                            autem
                            rerum placeat commodi magnam at, perspiciatis amet maiores hic! Consequuntur veniam, quae
                            obcaecati reprehenderit quod adipisci expedita.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo omnis repudiandae minus
                            autem
                            rerum placeat commodi magnam at, perspiciatis amet maiores hic! Consequuntur veniam, quae
                            obcaecati reprehenderit quod adipisci expedita.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo omnis repudiandae minus
                            autem
                            rerum placeat commodi magnam at, perspiciatis amet maiores hic! Consequuntur veniam, quae
                            obcaecati reprehenderit quod adipisci expedita.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo omnis repudiandae minus
                            autem
                            rerum placeat commodi magnam at, perspiciatis amet maiores hic! Consequuntur veniam, quae
                            obcaecati reprehenderit quod adipisci expedita.</p>
                    </div>
                </div>
            </div>



            <%- include("./partials/footer.ejs") %>


    </body>

</html>