<!DOCTYPE html>
<html>

<!-- Get Head from partial file -->
<%- include("./partials/head.ejs") %>
    <script defer src="http://localhost:5678/socket.io/socket.io.js"></script>
    <script defer src="/JAVASCRIPT/script.js"></script>

    <body>

        <%- include("./partials/nav.ejs") %>

            <h1>Welcome Chat Page</h1>



            <div id="message_container">
                <form id="send_container">
                    <input type="text" id="message_input_data">
                    <button type="submit" id="send_button">Send</button>
                </form>
            </div>

    </body>

</html>