<!DOCTYPE html>
<html>

<!-- Get Head from partial file -->
<%- include("./partials/head.ejs") %>
    <!--
    <script defer src="https://strangeanimal-bakercave-5678.codio-box.uk/socket.io/socket.io.js"></script>
    <script defer src="http://159.65.214.76:5678/socket.io/socket.io.js"></script>
    <script defer src="http://localhost:5678/socket.io/socket.io.js"></script>
    <script defer src="/JAVASCRIPT/socket.io.js"></script>
    -->
    <script src="/socket.io/socket.io.js"></script>
    <script defer src="/JAVASCRIPT/script.js"></script>

    <style>
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>

    <body class="chat_page">

        <%- include("./partials/nav.ejs") %>

            <div id="exampleModal" class="modal" tabindex="-1">
                <div class="modal-dialog  modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Alert</h5>
                        </div>
                        <div class="modal-body">
                            <p>Mobile Device Detected</p>
                            <p>Active Users is hidden by default on mobile devices, if you would like to see active
                                users please click on 'Active users'</p>
                        </div>
                        <div class="modal-footer">
                            <a href="/" class="btn btn-secondary" role="button">I do not understand</a>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">I understand</button>
                        </div>
                    </div>
                </div>
            </div>




            <div class="row">
                <div id="active_users_div" class="col-lg-2">
                    <h2><span id="active_users_toggle">Active users</span></h2>
                    <div id="active_users_list">
                        <!-- List of active users goes here -->

                    </div>

                </div>

                <div id="message_container" class="col-lg-10">
                    <!-- List of messages goes here -->
                    <form id="send_container" class="fixed-bottom">
                        <output id="users_typing_output"></output>
                        <input type="text" id="message_input_data">
                        <button type="submit" id="send_button">Send</button>
                    </form>
                </div>
            </div>


            <%- include("./partials/footer.ejs") %>
    </body>

</html>