<!DOCTYPE html>
<html>

<!-- Get Head from partial file -->
<%- include("./partials/head.ejs") %>
    <!--
    <script defer src="https://strangeanimal-bakercave-5678.codio-box.uk/socket.io/socket.io.js"></script>
    <script defer src="http://159.65.214.76:5678/socket.io/socket.io.js"></script>
    <script defer src="http://localhost:5678/socket.io/socket.io.js"></script>

    -->
    <script defer src="https://portfolio-website1-da4080e6c25f.herokuapp.com//socket.io/socket.io.js"></script>

    <script defer src="/JAVASCRIPT/script.js"></script>

    <style>
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>

    <body>

        <%- include("./partials/nav.ejs") %>



            <div class="row">



                <div id="active_users_div" class="col-lg-2">
                    <h2><span id="active_users_toggle">Active users</span></h2>
                    <div id="active_users_list">
                        <!-- List of active users goes here -->

                    </div>

                </div>

                <div id="message_container" class="col-lg-10">
                    <form id="send_container" class="fixed-bottom">
                        <input type="text" id="message_input_data">
                        <button type="submit" id="send_button">Send</button>
                    </form>
                </div>
            </div>
            <%- include("./partials/footer.ejs") %>
    </body>

</html>