<!DOCTYPE html>
<html>

<!-- Get Head from partial file -->
<%- include("./partials/head.ejs") %>

    <body>

        <%- include("./partials/nav.ejs") %>

            <div class="main_welcome_div">
                <h1 class="raise_up">Hi, my <br> name is <b>Jacob</b></h1>
                <h3 class="raise_up">I am a <b>student</b> at the University Of Aberdeen, <br> studying computer science
                </h3>
            </div>
            <%- include("./partials/footer.ejs") %>

    </body>

</html>