<!DOCTYPE html>
<html>

<!-- Get Head from partial file -->
<%- include("./partials/head.ejs") %>

    <body>

        <%- include("./partials/nav.ejs") %>

            <div id="main_welcome_div" class="raise_up">
                <h1>Hi, my <br> name is <b>Jacob</b></h1>
            </div>
    </body>

</html>