<!DOCTYPE html>
<html>

<!-- Get Head from partial file -->
<%- include("./partials/head.ejs") %>

    <body>

        <%- include("./partials/nav.ejs") %>


            <div class="main_portfolio_div">
                <h1><b>Projects</b></h1>

                <div class="row">

                    <div class="card col-3 m-4 p-4" style="width: 18rem;">
                        <img src="IMGS/blank_image_pic.jpg" class="card-img-top placeholder" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Website on town</h5>
                            <p class="card-text">
                                I built a website about the town Scalloway in shetland, for a project for a university
                                assessment</p>
                            <a href="/portfolio/scalloway_website" class="btn btn-primary">Go somewhere</a>
                        </div>

                    </div>
                    <div class="card col-3 m-4 p-4" style="width: 18rem;">
                        <img src="IMGS/blank_image_pic.jpg" class="card-img-top placeholder" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's
                                content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card col-3 m-4 p-4" style="width: 18rem;">
                        <img src="IMGS/blank_image_pic.jpg" class="card-img-top placeholder" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's
                                content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card col-3 m-4 p-4" style="width: 18rem;">
                        <img src="IMGS/blank_image_pic.jpg" class="card-img-top placeholder" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's
                                content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card col-3 m-4 p-4" style="width: 18rem;">
                        <img src="IMGS/blank_image_pic.jpg" class="card-img-top placeholder" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's
                                content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>


            </div>

            <%- include("./partials/footer.ejs") %>

    </body>

</html>