<!DOCTYPE html>
<html>

<!-- Get Head from partial file -->
<%- include("./partials/head.ejs") %>

    <body>

        <%- include("./partials/nav.ejs") %>


            <div class="main_portfolio_div">
                <h1><b>Projects</b></h1>

                <div class="row">

                    <div class="card col-3 m-4 p-2" style="width: 18rem;">
                        <img src="IMGS/scalloway_colour_houses.jpg" class="card-img-top" alt="Scalloway red houses">
                        <div class="card-body">
                            <h5 class="card-title">Website on town</h5>
                            <p class="card-text">
                                I built a website about the town Scalloway in shetland, for a project for a university
                                assessment</p>
                            <a href="https://github.com/mightymander/CS1534_Assessment_1" class="btn btn-primary">Github
                                Link</a>
                        </div>

                    </div>
                    <div class="card col-3 m-4 p-2" style="width: 18rem;">
                        <img src="IMGS/stocks_image_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">GUI Stocks Application</h5>
                            <p class="card-text">
                                I built a application with Python, using the Tkinter library to find the current price
                                of stocks.
                            </p>
                            <a href="https://github.com/mightymander/gui_stocks" class="btn btn-primary">Github Link
                            </a>
                        </div>
                    </div>

                    <div class="card col-3 m-4 p-2" style="width: 18rem;">
                        <img src="IMGS/stocks_image_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">GUI Stocks Application</h5>
                            <p class="card-text">
                                I built a application with Python, using the Tkinter library.
                            </p>
                            <a href="https://github.com/mightymander/coronavirus_mailer" class="btn btn-primary">Github
                                Link
                            </a>
                        </div>
                    </div>



                </div>

                <%- include("./partials/footer.ejs") %>

    </body>

</html>