<!DOCTYPE html>
<html>

<!-- Get Head from partial file -->
<%- include("./partials/head.ejs") %>

    <body>

        <%- include("./partials/nav.ejs") %>


            <div class="main_portfolio_div">
                <h1><b><span>Projects</span></b></h1>

                <div class="row justify-content-center">

                    <div class="card col-3 m-4 p-2 shadow" style="width: 18rem;">
                        <img src="IMGS/scalloway_colour_houses.jpg" class="card-img-top" alt="Scalloway red houses">
                        <div class="card-body">
                            <h5 class="card-title">Website on town</h5>
                            <h6 class="card-title">03/03/2024</h6>
                            <p class="card-text">
                                I built a website about the town Scalloway in shetland, for a project for a university
                                assessment</p>
                            <a href="https://github.com/mightymander/CS1534_Assessment_1" class="btn btn-primary">Github
                                Link</a>
                        </div>

                    </div>

                    <div class="card col-3 m-4 p-2 shadow" style="width: 18rem;">
                        <img src="IMGS/maze_game_image.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">ADVH Project</h5>
                            <h6 class="card-title">01/12/2022</h6>
                            <p class="card-text">
                                During the ADVH course we had to build a project for around
                                70% of our grade. i decided to build a GUI escaped the maze game.
                            </p>
                            <a href="https://github.com/mightymander/Computing-ADVH-2023-project"
                                class="btn btn-primary">Github Link
                            </a>
                        </div>
                    </div>

                    <div class="card col-3 m-4 p-2 shadow" style="width: 18rem;">
                        <img src="IMGS/stocks_image.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">GUI Stocks Application</h5>
                            <h6 class="card-title">09/04/2021</h6>
                            <p class="card-text">
                                I built a application with Python, using the Tkinter library to find the current price
                                of stocks.
                            </p>
                            <a href="https://github.com/mightymander/gui_stocks" class="btn btn-primary">Github Link
                            </a>
                        </div>
                    </div>


                </div>

                <div class="row justify-content-center">
                    <div class="card col-3 m-4 p-2 shadow" style="width: 18rem;">
                        <img src="IMGS/anime_door.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Adventure Game</h5>
                            <h6 class="card-title">27/06/2020</h6>
                            <p class="card-text">
                                I built a CLI adventure game, where you had to try and pick the right doors and battle
                                monitors.
                            </p>
                            <a href=https://github.com/mightymander/adventure-game" class="btn btn-primary">Github
                                Link
                            </a>
                        </div>
                    </div>
                    <div class="card col-3 m-4 p-2 shadow" style="width: 18rem;">
                        <img src="IMGS/covid_image.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Coronavirus mailer</h5>
                            <h6 class="card-title">24/05/2020</h6>
                            <p class="card-text">
                                I built a script that would utilize web scrapping to get the most recent data of
                                COVID-19 and then send it to an email address.
                            </p>
                            <a href="https://github.com/mightymander/coronavirus_mailer" class="btn btn-primary">Github
                                Link
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <%- include("./partials/footer.ejs") %>


    </body>

</html>