

footer {
    padding: 10px;
    text-align: center;
    color: white;
}

/* Start of index page*/

nav {
    background-color: grey;
}


.main_welcome_div {
    background-color: rgb(231, 170, 170);
    color: white;
    height: 800px;
    padding: 8vh;
    font-family: Poppins;
}

.main_welcome_div h1 {
    font-size: 8vw;
    font-weight: 600;
    animation: raiseUp 0.75s;
}
.main_welcome_div h3 {
    font-size: 3vw;
    font-weight: 600;
    animation: raiseUp 0.75s 1s both; /* starts animation after 1.5s */ 
}


@keyframes raiseUp {
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.raise-up {
    opacity: 0; 
}


/* End of index page*/

/* Start of About page*/

body {
    background-color: rgb(233, 233, 233);
}
#about_me_all_content_div {
    border: 1px solid #e0e0e0; /* Border color */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    background-color: white;
}


#profile_image { 
    width: 55%;
}

#about_me_info_div {
   padding: 8vh;
}

#about_me_info_div p {
  overflow: hidden;
  padding: 10px;
}

#about_me_text_div {
    padding: 8vh;
    margin-top: -10vh;
}

#about_me_text_div span {
border-bottom: 2px solid blue;
}

#skills_div {
    padding: 8vh;
    margin-top: -10vh;
}

#skills_div h5 {
    margin-top: 20px;
}
/* End of About page*/

/* start of chat page */

.chat_message_div {
    border-style: solid;
    margin-top: 10px;
}
#active_users_div {
    background-color: red;
}

/* this is the message box and submit button form*/
/* makes all the messaages only take up 75% of screen height*/
#message_container {
    max-height: 75vh;
    overflow: auto;
    
}

/* makes sending message form, centre and margin from bottom*/
#send_container{
    text-align: center;
    margin-bottom: 20px;
}


/* end of of chat page */


/* Start of 404 page*/

#error_span{
color: rgb(181, 16, 16);
}
/* end of 404 page*/