
/* Start of index page*/

body {
    background-color: rgb(231, 170, 170);

}
#main_welcome_div {
    color: white;
    height: 800px;
    padding: 8vh;
    font-family: Poppins;
}

#main_welcome_div h1 {
    font-size: 8vw;
    font-weight: 600;
    animation: raiseUp 0.75s;
}
#main_welcome_div h3 {
    font-size: 3vw;
    font-weight: 600;
    animation: raiseUp 0.75s 1s both; /* starts animation after 1.5s */ 
}


@keyframes raiseUp {
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.raise-up {
    opacity: 0; 
}


/* End of index page*/

/* start of chat page */

.chat_message_div {
    border-style: solid;
    margin-top: 10px;
}
#active_users_div {
    background-color: red;
}

/* this is the message box and submit button form*/
/* makes all the messaages only take up 75% of screen height*/
#message_container {
    max-height: 75vh;
    overflow: auto;
    
}

/* makes sending message form, centre and margin from bottom*/
#send_container{
    text-align: center;
    margin-bottom: 20px;
}


/* end of of chat page */