<!DOCTYPE html>
<html>

<!-- Get Head from partial file -->
<%- include("../partials/head.ejs") %>

    <body>

        <%- include("../partials/nav.ejs") %>

            <div class="main_portfolio_div">
                SCALLOWAY
            </div>


            <%- include("../partials/footer.ejs") %>

    </body>

</html>